#about-us{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us_textbox{
    background-color: #C7EAF8;
    display: flex;
    flex-direction: column;
    width: 39.375rem;
    border-radius: 1.125rem;
    box-shadow: 0rem 0.25rem 3.125rem 0.1875rem rgba(0, 0, 0, 0.25);
    padding: 1.875rem 2.5rem;
}

#about-us_textbox h1{
    color: white;
}


#about-us_textbox p{
    color: #3C3C43;
    font-family: Calibre, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#about-us img{
    position: relative;
    left: -3rem;
    z-index: -100;
    width: 31.25rem;
    height: 31.25rem;
    background-color: #F2F5FC;;
}