#circle_dots_title {
    margin-top: 5rem; /* Add margin to the top */
}

.circle_dots_title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; /* Center the content */
}

.cirle_dots_title_content h1 {
    text-align: center;
    padding: 0 5rem; /* Add padding to the left and right */
    font-size: 2.5rem;
    padding-bottom: 1rem; /* Add padding at the bottom */
    margin-top: 5rem;
}

.cirle_dots_title_content p {
    text-align: center;
    text-transform: none; /* Ensure text capitalization is as entered */
    padding: 0 5rem; /* Add padding to the left and right */
    font-size: 1.3rem;
}

.circle_dots_information_title {
    text-align: center; /* Center the text */
    margin-bottom: 3rem; /* Add margin at the bottom */
}

.circle_dots_information_title h1 {
    font-size: 24px; /* Set font size */
}

.circle_dots_information_title h2 {
    font-size: 36px;
    font-family: Calibre-Regular, sans-serif; /* Define font family */
}

.circle_dots_information_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.circle_dots_information_box {
    background-color: white;
    border-radius: 18px;
    box-shadow: 0 1.5px 9px 0 rgba(0, 0, 0, 0.2); /* Apply box shadow */
    min-height: 400px;
    margin: 0 1.5rem; /* Add margin to the left and right */
}

.circle_dots_information_box img {
    margin-top: 15px; /* Add margin to the top of the image */
}

.circle_dots_information_box h3 {
    font-family: Calibre-Regular, sans-serif; /* Define font family */
    padding-top: 1rem; /* Add padding at the top */
    margin: .5rem 0 1rem 0; /* Define margins */
    color: black; /* Set text color to black */
}

.circle_dots_information_box p {
    text-transform: none; /* Ensure text capitalization is as entered */
}

/* Apply the same padding to various elements within the box */
.circle_dots_information_box img, .circle_dots_information_box h3, .circle_dots_information_box p {
    padding: 0 10%;
}

.circle_dots_pricing_title {
    text-align: center; /* Center the text */
    margin-bottom: 3rem; /* Add margin at the bottom */
}

.circle_dots_pricing_title h1 {
    font-size: 24px; /* Set font size */
}

.circle_dots_pricing_title h2 {
    font-size: 36px;
    font-family: Calibre-Regular, sans-serif; /* Define font family */
}

.circle_dots_pricing_boxes {
    display: flex;
    justify-content: center;
}

.circle_dots_pricing_box {
    background-color: white;
    box-shadow: 0 1.5px 9px 0 rgba(0, 0, 0, 0.2); /* Apply box shadow */
    border-radius: 18px;
    width: 100%;
    max-width: 375px;
    margin: 0 3rem; /* Add margin to the left and right */
    color: var(--text-color); /* Use the specified variable for text color */
}

.circle_dots_pricing_box_1 {
    display: flex;
    padding: 1rem; /* Add padding */
    justify-content: space-between;
    align-items: center;
}

.circle_dots_pricing_box_1 p {
    font-family: Calibre-Medium; /* Define font family */
}

.circle_dots_pricing_box_2 {
    padding: 0 0 1rem 1rem;
}

.circle_dots_pricing_box_2 span {
    color: black; /* Set text color to black */
    font-size: 2rem;
    font-family: Calibre-Bold; /* Define font family */
}
@media screen and (max-width: 1660px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .circle_dots_information_box {
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 1280px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 1024px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .circle_dots_information_box {
        width: 1fr;
    }
}
@media screen and (max-width: 640px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .circle_dots_information_box {
        margin: 1rem 0;
    }
    .circle_dots_information_box p {
        font-size: 1.2rem;
    }
    .circle_dots_information_box h3 {
        font-size: 1.2rem;
    }
    .circle_dots_pricing_boxes {
        flex-direction: column;
        align-items: center;
    }
    .circle_dots_pricing_box {
        margin: 1rem 0;
    }
    .contact-form {
        padding: 0;
    }
    .cirle_dots_title_content p {
        padding: 0;
    }
}