/* Styling for the title section */
#circle_dots_title {
    margin-top: 5rem;
}

.circle_dots_title_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cirle_dots_title_content h2 {
    text-align: center;
    padding: 0 5rem;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    font-weight: bold;
}

.cirle_dots_title_content p {
    text-align: center;
    text-transform: none;
    padding: 0 5rem;
    font-size: 1.3rem;
}

/* Styling for the information section */
.circle_dots_information_title {
    text-align: center;
    margin-bottom: 3rem;
}

.circle_dots_information_title h1 {
    font-size: 24px;
}

.circle_dots_information_title h2 {
    font-size: 36px;
    font-family: Calibre-Regular, sans-serif;
}

.circle_dots_information_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 2rem;
}

.circle_dots_information_box {
    background-color: var(--white);
    border-radius: 18px;
    box-shadow: 0 1.5px 9px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.circle_dots_information_box img {
    margin-top: 1rem;
    height: 36px;
    width: 36px;
}

.circle_dots_information_box h3 {
    font-family: Calibre-Regular, sans-serif;
    padding-top: 1rem;
    margin: .5rem 0 1rem 0;
    color: var(--black);
}

.circle_dots_information_box h3,
.circle_dots_information_box p {
    padding: 0 10%;
}

.circle_dots_information_box p {
    text-transform: none;
    padding-bottom: 1rem;
}

/* Styling for the pricing section */
.circle_dots_pricing_title {
    text-align: center;
    margin-bottom: 3rem;
}

.circle_dots_pricing_title h1 {
    font-size: 24px;
}

.circle_dots_pricing_title h2 {
    font-size: 36px;
    font-family: Calibre-Regular, sans-serif;
}

.circle_dots_pricing_boxes {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.circle_dots_pricing_box {
    background-color: var(--white);
    box-shadow: 0 1.5px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    width: 100%;
    max-width: 375px;
    color: var(--text-color);
}

.circle_dots_pricing_box_1 {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.circle_dots_pricing_box_1 p {
    font-family: Calibre-Medium;
    font-weight: 700;
}

.circle_dots_pricing_box_2 {
    padding: 0 0 1rem 1rem;
}

.circle_dots_pricing_box_2 span {
    color: var(--black);
    font-size: 2rem;
    font-family: Calibre-Bold;
}

/* Media queries for responsive design */
@media screen and (max-width: 1660px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1280px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1024px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .circle_dots_pricing_box {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 768px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .circle_dots_information_box {
        width: 1fr;
    }
}

@media screen and (max-width: 640px) {
    .circle_dots_information_boxes {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .circle_dots_information_box {
        margin: 1rem 0;
    }

    .circle_dots_information_box p {
        font-size: 1.2rem;
    }

    .circle_dots_information_box h3 {
        font-size: 1.2rem;
    }

    .circle_dots_pricing_boxes {
        flex-direction: column;
        align-items: center;
    }

    .circle_dots_pricing_box {
        margin: 1rem 0;
    }

    .cirle_dots_title_content p {
        padding: 0;
    }
}