@import url(styles.css);

@media (max-width: 1280px) {
    .contact-left {
        display: none !important
    }
    .contact-right {
        background-color: white !important
    }
}

.contact-form {
    margin-top: 5%;
    display:flex;
    height: 35rem; 
    padding: 1.875rem;
    background-color: white;
    border-radius: 14.4px;
}

.contact-form h2 {
    font-family: Calibre-Bold;
}

.contact-form p {
    font-family: Calibre-Regular;
}

.contact-left {
    flex: 1; 
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}

.contact-right {
    flex: 1;
    display: flex; 
    flex-direction: column; 
    background-color: #EFEFF1;
    border-radius: 14.4px;
    padding: 30px;
    gap: 2.5rem;
}

.contact-links { 
    margin-top: 3rem;
}

.contact-links p {
    margin-bottom: 0.5rem; 
}

.buttons-contact-right {
    margin-top: 15px;
}

.selected-button {
    padding: 9.6px;
    align-items: flex-start;
    gap: 6px;
    flex-shrink: 0;
    background-color: #799DAB;
    color: #EFEFEF;
    border-radius: 4.8px;
    border-color: #799DAB;
    margin: 7px;
    margin-left: 0px;

}

.unselected-button {
    color: rgba(0, 0, 0, 0.30);
    text-align: center;
    padding: 9.6px;
    
}

.contact-right h3 {
    color: #799DAB;
    font-family: Calibre-Bold;

}

.blue-box {
border-radius: 9.6px;
border: 1.8px solid #799DAB;
background: #799DAB;
color: white;
width: 280px;
height: 40px;
padding: 10px; 
margin-bottom: 10px;
display: flex; /* Use flexbox for layout */
align-items: center; /* Center vertically within the container */
}

.blue-box i {
    display: inline; 
    margin: 0; 
    padding-right: 5px;
}
.blue-box p {
    display: inline; 
    margin: 0; 
}


.input-contact{
    border: none; 
    outline: none; 
    background-color: transparent; 
    border-bottom: 1px solid #000; 
    padding: 5px; 
    width: 100%; 
}

.submit-button-contactform {
    background-color: #799DAB;
    border-radius: 9.6px;
    padding: 14.4px 38.4px;
    color: white;
    border-color: #799DAB;
}


.social-media-icons-left {
    margin-top: auto;

}

.social-media-icons-left i {
    margin-left: 20px; 
}

.contact-left h2 {
    color: black;
}

