header {
    height: 100vh;
    width: 100%;
    background-image: url("../img/headerbackgroundcircles.svg"), linear-gradient(var(--dark-blue), var(--light-background));
    background-size: cover;
}

#headerimg {
    width: 20rem;
}

#headerbackground {
    width: 100%;
    position: absolute;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#banner_text h1 {
    font-family: Calibre-Bold;
    font-size: 46px;
    color: var(--dark-blue);
}
#banner_text h2 {
    font-family: Calibre-Medium;
    font-size: 48px;
    color: var(--dark-blue);
}

#banner_text h3 {
    font-family: Calibre-Regular;
    font-size: 18px;
    color: var(--black);
}