/* Dit zorgt voor alle styling van de navbar */
nav {
    width: 100%;
    height: 10vh;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Calibre-Bold;
    font-size: 18px;
    color: var(--dark-blue);
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10rem;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav img {
    padding-left: 10rem;
}

nav li:nth-child(-n+5) a {
    position: relative;
}

nav li:nth-child(-n+5) a::after {
    content: '';
    height: 0.2rem;
    width: 100%;
    background: var(--dark-blue);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

nav li:nth-child(-n+5) a:hover::after {
    opacity: 1;
}