/*  */
/* default styling elements */
/*  */
#reviews {
    background-color: var(--light-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
=======
.carousel_row {
    gap: 1rem;
}
>>>>>>> d34f5e68fa1ea8f51a6cdd00b8be5dcf7f1df208
.column{
    display: flex;
    flex-direction: column;
}
/*  */
/* title */
/*  */
.title_margin {
    margin-bottom: 3rem;
}
/*  */
/* carousel */
/*  */
<<<<<<< HEAD
.carousel_container {
    position: relative;
    overflow: hidden;
    width: 58rem;
}
=======

.carousel_container {
    position: relative;
    overflow: hidden;
    width: 40%;
}

@media only screen and (min-width: 640px) {
    .carousel_container {
        width: 35%;
    }
  }
@media only screen and (min-width: 1280px) {
    .carousel_container {
        width: 40%;
    }
  }

 

>>>>>>> d34f5e68fa1ea8f51a6cdd00b8be5dcf7f1df208
/* collection of slides */
.carousel_slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
<<<<<<< HEAD
}
/* single slide */
.carousel_slide {
    height: 15.6rem;
    flex: 0 0 46.5%; /* display 2 slides at a time if increased the 2nd slide wil not be visable*/
    box-sizing: border-box;
    margin: 1rem;
=======
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    gap: 2%
}
/* single slide */
.carousel_slide {
    height: 17.6rem;
    flex-basis: 49%; /* display 2 slides at a time if increased the 2nd slide wil not be visable*/
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
>>>>>>> d34f5e68fa1ea8f51a6cdd00b8be5dcf7f1df208
    border-radius: 18px;
    background-color: var(--white);
    box-shadow: 0px 1.5px 9px rgba(0, 0, 0, 0.20);
}
<<<<<<< HEAD
=======

@media only screen and (min-width: 640px) {
    .carousel_slide {
        flex-basis: 100%; /* display 2 slides at a time if increased the 2nd slide wil not be visable*/
    }
  }
@media only screen and (min-width: 1280px) {
    .carousel_slide {
        flex-basis: 100%; /* display 2 slides at a time if increased the 2nd slide wil not be visable*/
    }
  }

  @media only screen and (min-width: 1800px) {
    .carousel_slide {
        flex-basis: 49%; /* display 2 slides at a time if increased the 2nd slide wil not be visable*/
    }
  }

  @media only screen and (min-width: 2500px) {
    .carousel_slide {
        flex-basis: 49%; /* display 2 slides at a time if increased the 2nd slide wil not be visable*/
    }
  }

>>>>>>> d34f5e68fa1ea8f51a6cdd00b8be5dcf7f1df208
/* contents of the slide */
.carousel_content {
    display: flex;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel_content img {
    width: 2.8rem;
    padding-bottom: 1rem;
}
.carousel_content h3 {
    color: var(--text-color);
    padding-bottom: .2rem;
}
.carousel_content h5 {
    color: #525252;
    padding-bottom: .4rem;
}
.carousel_content p {
<<<<<<< HEAD
    padding-top: .4rem;
=======
    padding-top: 1.6rem;
>>>>>>> d34f5e68fa1ea8f51a6cdd00b8be5dcf7f1df208
    color: var(--text-color);
}
/* navigation arrows */
.carousel_arrow {
    font-size: 24px;
    cursor: pointer;
    background-color: var(--normal-blue);
    border-radius: 50%;
    padding: 1rem;
}
.carousel_arrow_left {
    width: 3rem;
    align-items: center;
    display: flex;
}
.carousel_arrow_right {
    width: 3rem;
    align-items: center;
    display: flex;
    transform: scaleX(-1);
}
/* navigation dots of the carousel */
.carousel_dots {
    text-align: center;
    margin-top: 20px;
}
.carousel_dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 4px solid #00000080;
    margin: 0 .3rem;
    cursor: pointer;
}
/* changes color for the active dot */
.active_dot {
    background-color: #00000080;
    border: 0px;
}



