* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --dark-blue: #799dab;
    --normal-blue: #c7eaf8;
    --light-blue: #dcf1f9;

    --light-background: #EFEFF1;
    --dark-background: #1C1C1C;
    --white: #FFFFFF;
}

nav {
    width: 100%;
    height: 10vh;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background-color: var(--light-background);
}

.container {
    /* Dit zijn de basis wit ruimtes van de pagina. */
    display: flex;
    padding: 0 20rem;
    flex-direction: column;
}

@font-face {
    font-family: Calibre-Medium;
    src: url(/fonts/Calibre-Medium.otf);
}

@font-face {
    font-family: Calibre-Regular;
    src: url(/fonts/Calibre-Regular.otf);
}

@font-face {
    font-family: Calibre-Bold;
    src: url(/fonts/Calibre-Bold.otf);
}