.faq_outer_flex { /*Flexbox used for configuring the main FAQ page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq_inner_flex { /*Flexbox used for configuring the dropdown popup boxes*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.25rem;
    width: 60vw;
}

.faq_leesmeer { /*Flexbox used for aligning the "Lees Meer" button*/
    display: flex;
    width: 60vw;
    justify-content: flex-end;
    font-size: large;
    margin-bottom: 1rem;
    color: var(--dark-blue);
}

.faq_leesmeer:visited {
    color: var(--dark-blue);
}

.faq_popup_box_flex { /*Flexbox used for the dropdown popup boxes*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    stroke: #D3D3D3;
    stroke-width: 1px;
    box-shadow: 0 1.5px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    flex-direction: column;
}

.faq_popup_box_collapsible { /*Box used for the dropdown popup boxes arrows*/
    border: 0px;
    height: 3.6rem;
    width: 3.6rem;
    background-color: #FFFFFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.faq_text { /*Box used for the dropped down popup boxes*/
    width: 100%;
    padding-left: 1.25rem;
    background-color: #FFFFFF;
    stroke: #D3D3D3;
    stroke-width: 1px;
    border-radius: 8px;
    padding-bottom: 1.2rem;
    padding-right: 1.25rem;
    display: none;
}

.faq_text hr { /*Defines the size and colour of the line seperating the popup boxes with the dropped down popup boxes*/
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.faq_text p { /*Defines the padding of the text used inside of the dopped down popup boxes*/
    padding-top: .5rem;
}

.faq_row { /*Defines the padding of the text used inside of the popup boxes*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    cursor: pointer;
}

.faq_page_breakline { /*Breakline used for making small space between title and popup boxes*/
    height: 2rem;
}

.faq_container { /*Small margin for faq-page.php*/
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.toggle_image {
    transform: rotate(0deg);
}
