* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Calibre", sans-serif;
    font-size: 24px;
}
/*
@media screen and (min-width: 640px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}*/

:root {
    --dark-blue: #799dab;
    --normal-blue: #c7eaf8;
    --light-blue: #dcf1f9;

    --light-background: #EFEFF1;
    --dark-background: #1C1C1C;
}

h1 {
    color: var(--dark-blue);
    font-size: 24px;
}

h2 {
    color: var(--dark-blue);
    font-size: 32px;
}

a {
    color: var(--dark-blue);
}

a:visited {
    color: var(--dark-blue);
}

.faq-page-breakline {
    height: 2rem;
}

.faq-outer-flex { /*Flexbox used for configuring the main FAQ page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.faq-inner-flex { /*Flexbox used for configuring the dropdown popup boxes*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.25rem;
}

.faq-leesmeer { /*Flexbox used for aligning the "Lees Meer" button*/
    display: flex;
    width: 32rem;
    justify-content: flex-end;
    font-size: large;
    margin-bottom: 1rem;
}

.faq-popup-box-flex { /*Flexbox used for the dropdown popup boxes*/
    display: flex;
    width: 32rem;
    height: 3.6rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    background-color: #FFFFFF;
    stroke: #D3D3D3;
    stroke-width: 1px;
    box-shadow: 0 1.5px 9px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.faq-popup-box-collapsible { /*Box used for the dropdown popup boxes arrows*/
    border: 0px;
    height: 3.6rem;
    width: 3.6rem;
    background-color: #FFFFFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

.faq-popup-box-collapsible-content { /*Box used for the dropdown popup boxes dropdowns*/
    overflow: hidden;
}